body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.span-header {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address_link {
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
}

.address_link:hover,
.address_link:focus {
  color: #404bbf;
}

.order_section {
  background: #2e2f42;
}

.order_section_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.benefit_section {
  letter-spacing: 0.02em;
}

.benefits_section_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.benefits_section_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team_section {
  background-color: #f4f4fd;
}

.section_main_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team_section_list_item {
  background-color: #ffffff;
}

.team_section_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.team_section_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
.portfolio_section_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.portfolio_section_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}

.span_footer {
  color: #f4f4fd;
}

.footer_text {
  font-weight: 400;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
